<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <title>Site Search Engine</title>
    <meta name="description" content="Site Search Engine">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <!--  <link href="favicon.ico" rel="shortcut icon">-->
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.css?v=82368483">
    <link rel="stylesheet" href="/assets/css/basic.css?v=82368483">
    <link rel="stylesheet" href="/assets/css/extra.css?v=82368483">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <script defer src="/assets/js/scripts.js?v=3TabsLink8874865"></script>

</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->

<div class="Site-loader">
    <div class="Site-loader-block">
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
    </div>
</div>
<div class="Middle">
    <div class="wrap">
        <div class="Site-loadingIsComplete">
            <main class="Tabs Tabs_column Middle-main">
                <div class="Column">
                    <div class="Tabs-links">
                        <a class="Tabs-link Tabs-link_ACTIVE" href="#dashboard">
                            <img class="Tabs-icon" src="/assets/img/icons/dashboard.svg" alt="dashboard.svg"/>
                            <span class="Tabs-linkText" th:text="#{menu.dashboard}"></span></a>
                        <a class="Tabs-link" href="#management">
                            <img class="Tabs-icon" src="/assets/img/icons/management.svg" alt="management.svg"/>
                            <span class="Tabs-linkText" th:text="#{menu.management}"></span></a>
                        <a class="Tabs-link" href="#search">
                            <img class="Tabs-icon" src="/assets/img/icons/search.svg" alt="search.svg"/>
                            <span class="Tabs-linkText" th:text="#{menu.search}"></span></a>
                    </div>
                    <br>
                    <div th:text="#{menu.language}"></div>
                    <select id="locales">
                        <option value=" "></option>
                        <option value="en">English</option>
                        <option value="ru">Русский</option>
                    </select>
                </div>
                <div class="Tabs-wrap">
                    <div class="Tabs-block" id="dashboard">
                        <div class="Section">
                            <div class="Section-header">
                                <h2 class="Section-title" th:text="#{menu.dashboard}"></h2>
                            </div>
                            <div class="Statistics">
                                <div class="Statistics-info">
                                    <div class="Statistics-block">
                                        <span class="Statistics-title" th:text="#{dashboard.allSites}"></span>
                                        <span class="Statistics-amount" id="totalSites"></span>
                                    </div>
                                    <div class="Statistics-block">
                                        <span class="Statistics-title" th:text="#{dashboard.allPages}"></span>
                                        <span class="Statistics-amount" id="totalPages"></span>
                                    </div>
                                    <div class="Statistics-block">
                                        <span class="Statistics-title" th:text="#{dashboard.allLemmas}"></span>
                                        <span class="Statistics-amount" id="totalLemmas"></span>
                                    </div>
                                </div>
                                <div class="HideBlock Statistics-example">
                                    <header class="HideBlock-header HideBlock-trigger">
                                        <strong class="HideBlock-title"><span class="Statistics-status"></span>
                                        </strong>
                                        <span class="HiddenElem" id="hiddenStatusTimeTitle" th:text="#{dashboard.statusTime}"></span>
                                        <span class="HiddenElem" id="hiddenPagesTitle" th:text="#{dashboard.pages}"></span>
                                        <span class="HiddenElem" id="hiddenLemmasTitle" th:text="#{dashboard.lemmas}"></span>
                                        <span class="HiddenElem" id="hiddenErrorTitle" th:text="#{dashboard.error}"></span>
                                        <button class="HideBlock-btn" type="button">
                                        </button>
                                    </header>
                                    <div class="HideBlock-content">
                                        <p class="Statistics-description">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs-block" id="management">
                        <div class="Section">
                            <div class="Section-header">
                                <h2 class="Section-title" th:text="#{menu.management}"></h2>
                            </div>
                            <div>
                                <button class="btn btn_primary API-startIndexing"
                                        data-btntype="check" data-check="false"
                                        th:data-alttext="#{management.stopIndexing}" data-alttext=""
                                        data-send="startIndexing" data-altsend="stopIndexing">
                                    <span class="btn-content" th:text="#{management.startIndexing}"></span>
                                </button>
                            </div>
                            <br>
                            <div class="UpdatePageBlock">
                                <h3 th:text="#{management.addUpdatePage}">Add/update page:
                                </h3>
                                <form class="form form_close" action="#" method="post" data-send="indexPage">
                                    <div class="form-group form-group_row">
                                        <input class="form-input" id="page" name="page" type="text"/>
                                        <button class="btn btn_primary form-btn" type="submit"
                                            th:text="#{management.addUpdate}">Add/update
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs-block" id="search">
                        <div class="Section">
                            <div class="Section-header">
                                <h2 class="Section-title" th:text="#{menu.search}"></h2>
                            </div>
                            <form class="form form_close" action="#" method="post" data-send="search"
                                  data-sendlimit="10">
                                <div class="form-group">
                                    <div class="form-selectWrap">
                                        <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                                        <select class="form-select" name="site">
                                            <option value="" selected="selected" th:text="#{search.allSites}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-group_row">
                                    <input class="form-input" id="query" name="query" type="text"
                                           th:placeholder="#{search.placeholder }"
                                           placeholder=""/>
                                    <button class="btn btn_primary form-btn" type="submit" th:text="#{search.search}">
                                    </button>
                                </div>
                            </form>
                            <div class="SearchResult">
                                <strong class="SearchResult-title">
                                    <span th:text="#{search.foundResults}">Found results:&#32;</span>
                                    <span class="SearchResult-amount">0</span>
                                </strong>
                                <div class="SearchResult-content">
                                </div>
                                <div class="HiddenElem" id="footerButtonText"
                                    th:text="#{search.showMore}">Show more</div>
                                <div class="SearchResult-footer SearchResult-footer_hide">
                                    <button class="btn btn_primary" data-send="search" data-sendtype="next">
                                        <span class="SearchResult-remain">(0)</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--<script src="https://malsup.github.io/jquery.form.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>-->
</body>
</html>